<hr>
<footer class="blog-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="">
          <a routerLink="/">Link 1</a>
          <br>
          <a routerLink="/">Link 2</a>
          <br>
          <a routerLink="/">Link 3</a>
          <br>
        </p>
      </div>
      <div class="col-md-6">
        <p class="">
          <a routerLink="/">Link A</a>
          <br>
          <a routerLink="/">Link B</a>
          <br>
          <a routerLink="/">Link C</a>
          <br>
        </p>
      </div>
    </div>
  </div>
</footer>